// ----------------------------------------------------------------------------------------------------------------
// blog post helpers
// ----------------------------------------------------------------------------------------------------------------

/* $[Resume Related] ==================================================================== */
.quick-note {
    font-family: $sans-serif-font;
    font-weight: 300;
    font-size: .75em;
    text-transform: uppercase;
    padding: 1em;
    background: $lightGray;
    border: 1px solid $darkBorder;
    color: $metaGray;
}

.brands {
  font-family: $sans-serif-font;
}

ul.skills {
  list-style: none;
}
ul.skills li {
  margin: 0;
  padding: 0;
}

/* $[Election Information/Charts] ==================================================================== */
div.progress-container {border: 1px solid #fff; margin: 2px 5px 2px 0; padding: 0; background: #f3f3f3; text-shadow:0 -1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0px 0px 2px rgba(0,0,0,.10);-moz-box-shadow:inset 0px 0px 2px rgba(0,0,0,.10);box-shadow:inset 0px 0px 2px rgba(0,0,0,.10);overflow:hidden;-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;}
div.progress-container > div.taxpay {background-color: #9e9642; font-size: 1em; padding: 4px 0px 4px 8px; line-height: 20px; color: #FFFFFF;}
div.progress-container > div.const {background-color: #CC6600; font-size: 1em; padding: 4px 0px 4px 8px; line-height: 20px; color: #FFFFFF;}
div.progress-container > div.green {background-color: #0b5521; font-size: 1em; padding: 4px 0px 4px 8px; line-height: 20px; color: #FFFFFF;}
div.progress-container > div.ind {background-color: #006660; font-size: 1em; padding: 4px 0px 4px 8px; line-height: 20px; color: #FFFFFF;}
div.progress-container > div.rep {background-color: #b6141a; font-size: 1em; padding: 4px 0px 4px 8px; line-height: 20px; color: #FFFFFF;}
div.progress-container > div.dem {background-color: #083a85; font-size: 1em; padding: 4px 0px 4px 8px; line-height: 20px; color: #FFFFFF;}

/* $[Archives] ^List ==================================================================== */
.cats{
    list-style:none;
    margin:0 auto;
    padding: 0;
    text-align:center;
    /*border: 1px solid lighten($darkBlue, 10%);*/
    display: block;
    max-width: 640px;
  }
  .cats li{
    display:block;
    /*border-bottom: 1px solid lighten($darkBlue, 10%);*/
  }
  .cats li:last-child {
    border-bottom: none;
  }
  .cats a {
    display:block;
    padding:1em;
    margin: 1em 0;
    border-bottom: none;
    font-family: $sans-serif-font;
    font-weight: 100;
    color: $headerTextColor;
    text-transform: uppercase;
    font-size: .875em;
    letter-spacing: .06em;
    border: 1px solid rgba($white, 0.15);
    border-radius: 2px;
  }
  .cats a:hover {
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    text-align: center;
    color: $darkBlue;
    background: $white;
    border: 1px solid $white;
    text-decoration: none;
  }
  .cats a:active {
    color: $darkBlue;
    background: $white;
    border: 1px solid $white;
    border-color: $white;
    text-decoration: none;
    -webkit-transform: scale(0.975,0.975);
            transform: scale(0.975,0.975);
    -webkit-animation: shadowOutLight .225s 1 ease-in-out;
       -moz-animation: shadowOutLight .225s 1 ease-in-out;
            animation: shadowOutLight .225s 1 ease-in-out;
  }

  #smart-archives-list ul, .tag_list ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
    .tag_list ul {
      max-width: 100%;
      margin: 0 auto;
      font-family: $sans-serif-font;
    }
    #smart-archives-list ul li a, .tag_list ul li a {
        font-size: .875em;
        display: block;
        color: $textColor;
        position: relative;
        text-decoration: none !important;
        margin: 0;
        padding: .75em;
        -webkit-transition: background-color 0.2s ease-out;
        -moz-transition: background-color 0.2s ease-out;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: none;
        border-radius: 2px;
    }
    #smart-archives-list ul li a {
      text-align: center;
    }
    #smart-archives-list ul li a:hover, .tag_list ul li a:hover {
        text-shadow: none;
        background: $hoverColor;
        color: #fff;
        text-decoration: none;
    }
    #smart-archives-list ul li a:active, .tag_list ul li a:active {
        background: $hoverColor;
        -webkit-transform: scale(0.975,0.975);
            transform: scale(0.975,0.975);
    -webkit-animation: shadowOut .225s 1 ease-in-out;
       -moz-animation: shadowOut .225s 1 ease-in-out;
            animation: shadowOut .225s 1 ease-in-out;
    }
    .tag_list ul li a em {
        font-style: normal;
        position: absolute;
        right: 30px;
        height: 20px;
        top: 50%;
        margin-top: -10px;
        width: 20px;
        font-size: .675em;
        line-height: 20px;
        text-align: center;
        color: $textColor;
        border: 1px solid $textColor;
        text-shadow: none;
        z-index: 100;
        display: block;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        font-family: $sans-serif-font;
    }
    .tag_list ul li a:hover em {
        color: $hoverColor;
        border: 1px solid #fff;
        background: #fff;
    }
    #smart-archives-list h2, .tag_list h2 {
    clear: both;
    padding: 0 10px;
    margin: 30px 0 1.5rem 0;
    text-align: center;
    font-size: 1em;
    font-family: $sans-serif-font;
    text-transform: uppercase;
    font-weight: 700;
}
#smart-archives-list h2:after {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    border-top: 1px solid $orange;
    display: block;
    content: "";
    margin-top: 1.5rem;
}
  #smart-archives-list h2 a {
      color: $headingColor;
      text-decoration: none;
  }
  #smart-archives-list h2 a:hover {
      color: $orange;
      text-decoration: none;
  }
  #smart-archives-list ul li span.date {
      font-size: .75em;
      display: block;
      color: $metaGray;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $sans-serif-font;
  }
  #smart-archives-list ul li a:hover span.date {
      color: #fff;
  }

  /* @media {  
} screen and (min-width: 600px) */
@media screen and (min-width: 37.5em) { 
  .tag_list ul li a {
      width: 50%;
      float: left;
  }
  .cats li{
    display:inline-block;
    margin-right: 1em;
    border-bottom: none;
  }
  .cats li:last-child {
    margin-right: 0;
    border-bottom: none;
  }
  ul.skills li {
    float: left;
    width: 33.3%;
  }
}