/* $[Footer Base Styles] ^footer ==================================================================== */
#footer {
    padding:0;
    font-family: $sans-serif-font;
    font-weight: 100;
    text-align: center;
    position:relative;
    z-index:999;
    background: $footerBackground;
    background-size: cover;
}
  #footer .lower {
     padding: 4em 0 6em 0;
     font-size: .75em;
     color: $footerTextColor;
     text-align: center;
  }
  #footer p {
    line-height: 1.25;
    letter-spacing: .06em;
    font-size: .75rem;
  }
  #footer .call_me_maybe {
      color: $footerHeaderColor;
      font-size: 1.5em;
      text-transform: uppercase;
      font-family: $sans-serif-font;
      font-weight: 100;
      margin-bottom: 2rem;
      margin-left: auto;
      margin-right: auto;
      letter-spacing: .1em;
      padding: 1rem;
      border: 1px solid rgba($footerBaseTextColor,0.25);
      display: inline-block;
  }
  #footer .hire_me,  #footer h2 {
      color: $footerHeaderColor;
      font-size: 1.5em;
      letter-spacing: 0em;
      line-height: 1.4;
      max-width: 600px;
      margin: 0 auto 1.5rem auto;
      text-transform: none;
  }
  #footer h2 {
    font-size: 2em;
    margin: 0 auto;
  }



/* $[Footer Social Links] ^footer ==================================================================== */
#footer .social_links {
    padding: 1rem 0 2rem;
}
  #footer .social_links ul {
      font-size: 1em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
  }
  #footer .social_links ul li {
      display: inline-block;
      margin: 0;
      padding: 0 .5em;
  }
  #footer .social_links ul li a {
    text-decoration: none;
    color: $footerTextColor;
    text-align: center;
    border: none;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    padding: 0.25em 0;
  }
  #footer .social_links ul li a:hover {
      color: $orange;
  }
  #footer .social_links ul li a:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 2px;
        width: 100%;
        background: rgba($white,0.125);
        height: 2px;
        display: block;
        opacity: 0;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        transform: translateY(10px);
    }
    #footer .social_links ul li a:hover::after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }

/* $[Footer Master Archive Link] ^footer ==================================================================== */
#footer .master-archive {
}
a.btn_master-archive {
  font-size: .75em;
  display: block;
  padding: 1em 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
  color: $footerTextColor;
}
a.btn_master-archive:hover {
  background: darken($darkBlue,10%);
  color: $white;
}
a.btn_master-archive:active {
    -webkit-animation: shadowOutLight .225s 1 ease-in-out;
       -moz-animation: shadowOutLight .225s 1 ease-in-out;
            animation: shadowOutLight .225s 1 ease-in-out;
}