// section.col {
//   padding: 3em 0;
//   h2 {
//     font-size: 2.25em;margin-top:0;
//   }
//   header {
//     text-align: center;
//   }
// }

.grid-container {
  margin: 0 auto;
  padding: 2em 5%;
  max-width: 1000px;
  
  .row {
      display: flex;
      flex-direction: column;
      
      @media screen and (min-width: 48em) {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        margin-left: -2%;
        margin-right: -2%;

        &.top-align {
          align-items: flex-start;
        }
        &.center-align {
          align-items: center;
        }
      }
    }

  
}
@media screen and (max-width: 48em) {
  .col {
        &.order-1 {
          order: 1;
        }
        &.order-2 {
          order: 2;
        }
        &.order-3 {
          order: 3;
        }
        &.mobile-hide {
          display: none;
        }
  }
}
/* @media screen and (min-width: 768px) */
@media screen and (min-width: 48em) {
  .col {
    padding: 0 2%;
    position: relative;
    @include css3-prefix(box-sizing, border-box);
    
    &-1 {
      width: 8.33%;
      &-offset {
        margin-left:8.33%;
       }
    }
    &-2 {
      width: 16.66%;
      &-offset {
        margin-left:16.66%;
       }
    }
    &-3 {
      width: 25%;
      &-offset {
        margin-left:25%;
       }
    }
    &-4 {
      width: 33.33%;
      &-offset {
        margin-left:33.33%;
       }
    }
    &-5 {
      width: 41.66%;
      &-offset {
        margin-left:41.66%;
       }
    }
    &-6 {
      width: 50%;
      &-offset {
        margin-left:50%;
       }
    }
    &-7 {
      width: 58.33%;
      &-offset {
        margin-left:58.33%;
       }
    }
    &-8 {
      width: 66.66%;
      &-offset {
        margin-left:66.66%;
       }
    }
    &-9 {
      width: 75%;
      &-offset {
        margin-left:75%;
       }
    }
    &-10 {
      width: 83.33%;
      &-offset {
        margin-left:83.33%;
       }
    }
    &-11 {
      width: 91.66%;
      &-offset {
        margin-left:91.66%;
       }
    }
    &-12 {
      width: 100%;
    }

    &.full {
       width:100%;
    }
    &.half {
       width:50%;

       &-offset {
        margin-left:50%;
       }
    }
    
    &.one_quarter {
       width:25%;
       
       &-offset {
        margin-left:25%;
       }
    }

    &.three_quarters {
       width:75%;

       &-offset {
        margin-left:75%;
       }
    }

    &.one_third {
       width:33.33%;

       &-offset {
        margin-left:33.33%;
       }
    }

    &.two_thirds {
       width:67%;

       &-offset {
        margin-left:67%;
       }
    }
  }

}

/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {

}

/* @media screen and (min-width: 1080px) */
@media screen and (min-width: 67.5em) {

}

/* @media screen and (min-width: 1392px) */
@media screen and (min-width: 87em) {

}

/* @media screen and (min-width: 1680px) */
@media screen and (min-width: 105em) {

}