/* $[Header Region] ^banner, ^introduction ==================================================================== */
header[role="banner"] {
    font-family: $sans-serif-font;
    font-weight: 100;
    width: 100%;
    padding: 0;
    left: 0;
    z-index: 10000;
    color: rgba(255,255,255,0.95);
    font-size: 90%;
    opacity: 0;
    background: $darkBlue;
    -webkit-animation: headerDrop .75s 1 ease-in-out;
       -moz-animation: headerDrop .75s 1 ease-in-out;
            animation: headerDrop .75s 1 ease-in-out;
    -webkit-animation-fill-mode: forwards;
       -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: .5s;
       -moz-animation-delay: .5s;
            animation-delay: .5s;
}
  header[role="banner"] .wrapper {
      padding-left: 0;
      padding-right: 0;
  }
a#mylogo, a#mylogo:visited {
    float: left;
    text-align: center;
    text-transform: uppercase;
    display: table;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    color: $headerTextColor;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1em;
    position: relative;
    letter-spacing: 2px;
}

a#mylogo .logo-img,
a#mylogo .logo-title {
    display: table-cell; 
    vertical-align: middle;
    line-height: .875;
    text-align: left;
    @include transition(all 0.25s ease-out);
  }
a#mylogo .logo-shape {
      fill: $darkBlue;
      @include transition(all 0.25s ease-out);
}
a#mylogo .circle-shape {
      fill: $headerTextColor;
      @include transition(all 0.25s ease-out);
}
a#mylogo:hover {
    text-decoration: none;
    .logo-title {
      @include transition(all 0.25s ease-out);
      color: $orange;
    }
    .logo-shape {
      fill: $white;
      @include transition(all 0.25s ease-out);
    }
    .circle-shape {
      fill: $orange;
      @include transition(all 0.25s ease-out);
    }
}
header[role="banner"] a {

}
.fixed {
    position: fixed;
    top: 0;
    z-index: 9999;
}
a#my_menu {
    display: block;
    float: right;
    padding: 0 1.5em;
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    color: $headerTextColor;
    letter-spacing: .06em;
    position: relative;
}
/*a#my_menu i {
  position: absolute;
  right: 2%;
  top: 50%;
  -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
}*/
a#my_menu:hover {
    color: $orange;
    text-decoration: none;
}

/* $[Primary Navigation] ^navigation, ^menu ==================================================================== */
nav[role="navigation"] ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: .75em;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    background: darken($darkBlue,5%);
    border-top: 1px solid lighten($darkBlue, 5%);
}
  nav[role="navigation"] ul li {
      display: block;
      padding: 0;
      margin: 0;
      position: relative;
      border-bottom: 1px solid lighten($darkBlue, 5%);
  }
    nav[role="navigation"] ul li a {
        display: block;
        padding: 0;
        color:$headerTextColor;
    }
    
    nav[role="navigation"] ul li a:hover,
    nav[role="navigation"] ul li a:active {
        color: rgba($orange,1);
        text-decoration: none;
    }

  nav[role="navigation"] ul li.current-menu-item a,
  nav[role="navigation"] ul li.current-page-ancestor,
  body.notebook nav[role="navigation"] ul li.menu-item-6512 a,
  body.home nav[role="navigation"] ul li.menu-item-6512 a,
  body.work nav[role="navigation"] ul li.menu-item-6167 a {
    font-weight: 700;      
  }
  nav[role="navigation"] ul li.current-menu-item a:hover,
  nav[role="navigation"] ul li.current-page-ancestor:hover,
  body.notebook nav[role="navigation"] ul li.menu-item-6512 a:hover,
  body.home nav[role="navigation"] ul li.menu-item-6512 a:hover,
  body.work nav[role="navigation"] ul li.menu-item-6167 a:hover {

  }

/* $[Header Animation] ^navigation, ^menu ==================================================================== */
/* @media {  
} screen and (min-width: 600px) */
@media screen and (min-width: 37.5em) { 
  header[role="banner"] {
      padding: 0;
  }
  header[role="banner"] .wrapper {
      padding-left: 5%;
      padding-right: 5%;
      text-align: center;
  }
  header[role="banner"] {

  }
  nav[role="navigation"] {
      display:table;
      float: right;
      position: relative;
  }
  nav[role="navigation"] ul {
      display: table-cell;
      vertical-align: middle;
      border-top: none;
      background: none;
  }
    nav[role="navigation"] ul li {
        display: block;
        float: left;
        border-bottom: none;
        margin: 0 1em;
    }
      nav[role="navigation"] ul li a {
          display: inline-block;
      }
      nav[role="navigation"] ul li a:hover {
          color: $white;
      }
    nav[role="navigation"] ul li a:after {
        content: "";
        background-color: $lightGray;
        position: absolute;
        bottom: 0;
        right: -1px;
        left: -1px;
        height: 1px;
        @include transition(all 0.125s ease-in-out);
        z-index: -1;
        opacity: 0;
    }
    nav[role="navigation"] ul li a:hover::after {
        opacity: 1;
        height: 100%;
        background-color: $orange;
    }
  .logo-img,
  .logo-title {
    display: table-cell;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .logo-img {
    padding-right: 10px;
  }

  .cbp-af-header {
    /*background: rgba(255,255,255,0.95);*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    height: 80px;
    overflow: hidden;
    -webkit-transition: height 0.25s ease-in-out, background 0.25s ease-in-out, border 0.25s ease-in-out;
    -moz-transition: height 0.25s ease-in-out, background 0.25s ease-in-out, border 0.25s ease-in-out;
    transition: height 0.25s ease-in-out, background 0.25s ease-in-out, border 0.25s ease-in-out;
    -webkit-transition: top ease 0.5s;
        -moz-transition: top ease 0.5s;
                   transition: top ease 0.5s;
  }

  /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
  .cbp-af-header #mylogo,
  .cbp-af-header nav ul {
    height: 80px;
  }
  .cbp-af-header.nav-up {
    top: -80px !important;
  }

  .cbp-af-header .logo-img {
    height: 80px;
    -webkit-transition: all 0.25s ease-in-out;
       -moz-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
    svg {
      display: block;
      height: 30px;
      -webkit-transition: all 0.25s ease-in-out;
         -moz-transition: all 0.25s ease-in-out;
              transition: all 0.25s ease-in-out;
    }
  }

  /* Transitions and class for reduced height */
  .cbp-af-header #mylogo,
  .cbp-af-header nav a {
    -webkit-transition: all 0.25s ease-in-out;
       -moz-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
  }

  .cbp-af-header.cbp-af-header-shrink {
    height: 60px;
    font-size: 80%;
    /*border-bottom: 1px solid $borderColor;*/
  }
  .cbp-af-header.cbp-af-header-shrink.nav-up {
    top: -60px !important;
  }

  .cbp-af-header.cbp-af-header-shrink #mylogo,
  .cbp-af-header.cbp-af-header-shrink nav ul {
    height: 60px;
  }

  .cbp-af-header.cbp-af-header-shrink .logo-img {
    height: 60px;
    svg {
      height: 25px;
    }
  }
}
/* Example Media Queries */
@media screen and (max-width: 37.5em) {
  .cbp-af-header {
    height: 60px
  }
  .cbp-af-header.cbp-af-header-shrink{
    height: 60px;
  }
  .cbp-af-header nav a,
  .cbp-af-header #mylogo,
  .cbp-af-header #my_menu,
  .cbp-af-header.cbp-af-header-shrink #mylogo,
  .cbp-af-header.cbp-af-header-shrink #my_menu,
  .cbp-af-header.cbp-af-header-shrink nav a {
    line-height: 60px;
  }

  .cbp-af-header nav {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .cbp-af-header #mylogo,
  .cbp-af-header #my_menu {
    height: 60px;
  }
  .cbp-af-header #mylogo {
    padding-left: 1.5em;
  }
  .cbp-af-header .logo-img,
  .cbp-af-header.cbp-af-header-shrink .logo-img {
    width: 30px;
    height: 40px;
    svg {
      height: 26px;
    }
  }
}