/* $[Header Region] ^banner, ^introduction ==================================================================== */
button.nav-toggle {
  display: block;
  position: relative;
  height: 60px;
  width: 40px;
  padding: 0;
  color: $headerTextColor;
  font-size: 1rem;
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: none;
  text-decoration: none;
  text-indent: -9999px;

  &:before {
      content: "";
      position: absolute;
      width: 40px;
      top: 35%;
      background-color: $headerTextColor;
      height: 3px;
      display: block;
      transition-delay: 0.15s;
      @include transition(all 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55));
      border-radius: 4px;
  }

  &:after {
      content: "";
      position: absolute;
      width: 35px;
      top: 65%;
      left: 5px;
      background-color: $headerTextColor;
      height: 3px;
      display: block;
      transition-delay: 0.15s;
      @include transition(all 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55));
      border-radius: 4px;
  }

  span {
      position: absolute;
      top: 50%;
      left: 10px;
      right: 0;
      background-color: $headerTextColor;
      height: 3px;
      display: block;
      border-radius: 4px;
      transition-delay: 0;
      @include transition(all 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55));
  }

  &:hover {
    &:before {
        width: 40px;
        background-color: $white;
        @include transition(all 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55));
        transition-delay: 0;
    }

    &:after {
        width: 40px;
        left: 0;
        background-color: $white;
        @include transition(all 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55));
        transition-delay: 0;
        border-radius: 4px;
    }

    span {
        left: 0;
        right: 0;
        background-color: $white;
        @include transition(all 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55));
    }    
  }

  &.show {
    &:before {
        background-color: $white;
        top: 50%;
        width: 30px;
        left: 5px;
        right: 5px;
        transition-delay: 0.15s;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }

    &:after {
        background-color: $white;
        top: 50%;
        width: 30px;
        left: 5px;
        right: 5px;
        transition-delay: 0.15s;
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
        transform: rotate(-45deg);
    }

    span {
      left: 50%;
      right: 50%;
      width: auto;
      opacity: 0;
    }
  }
}
header[role="banner"] {
    background: $darkBlue;
    color: rgba(255,255,255,0.95);
    display: flex;
    justify-content: space-between;
    font-family: $sans-serif-font;
    font-size: 90%;
    font-weight: 100;
    padding: 0 5%;
    position: fixed;
    top: 0;
    left: 0;
    height: $headerHeightMobile;
    opacity: 0;
    width: 100%;
    z-index: 10000;

    @include transition(all 0.25s ease-out);

    @include css3-prefix(animation, headerDrop .75s 1 ease-in-out);
    @include css3-prefix(animation-fill-mode, forwards);
    @include css3-prefix(animation-delay, .5s);

    &.nav-open {
      background: transparent;
    }
}
a#mylogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0;
    margin: 0;
    color: $headerTextColor;
    font-weight: 100;
    font-size: 1em;
    letter-spacing: 0.0675em;

    &:visited {

    }

    .logo-img,
    .logo-title {
      display: block;
      vertical-align: middle;
      line-height: .875;
      text-align: left;
      @include transition(all 0.25s ease-out);
    }

    .logo-img {
      max-width: 45px;
      height: 30px;
      padding-right: 10px;

      svg {
        height: 25px;
      }
    }

    .logo-shape {
      fill: $darkBlue;
      @include transition(all 0.25s ease-out);
    }
    .circle-shape {
      fill: $headerTextColor;
      @include transition(all 0.25s ease-out);
    }

    &:hover {
      text-decoration: none;

      .logo-title {
        @include transition(all 0.25s ease-out);
        color: $orange;
      }
      .logo-shape {
        fill: $white;
        @include transition(all 0.25s ease-out);
      }
      .circle-shape {
        fill: $orange;
        @include transition(all 0.25s ease-out);
      }
  }
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 9999;
}
a#my_menu {
    display: flex;
    padding: 0 1.5em;
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    color: $headerTextColor;
    letter-spacing: .06em;
    position: relative;
}
a#my_menu:hover {
    color: $orange;
    text-decoration: none;
}

/* $[Primary Navigation] ^navigation, ^menu ==================================================================== */
nav[role="navigation"] {
  background: rgba($darkBlue,0.975);
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $sans-serif-font;
  @include transition(all 0.25s ease-out);

  &.show {
    visibility: visible;
    opacity: 1;

    ul {
      opacity: 1;
      @include transform(scale(1));
    }
  }
}
nav[role="navigation"] ul {
    list-style: none;
    margin: 2rem 0 0;
    padding: 0;
    font-size: 1.75em;
    font-weight: 100;
    text-align: center;
    letter-spacing: 2px;
    transition-delay: 0.75s;
    opacity: 0;
    width: 100%;
    @include transition(all 0.25s ease-out);
    @include transform(scale(0.5));

}
  nav[role="navigation"] ul li {
      display: block;
      padding: 0;
      margin: 0;
      position: relative;
  }
    nav[role="navigation"] ul li a {
        display: block;
        padding: 1rem 0;
        color:$headerTextColor;
    }
    
    nav[role="navigation"] ul li a:hover,
    nav[role="navigation"] ul li a:active {
        color: rgba($orange,1);
        text-decoration: none;
    }

  nav[role="navigation"] ul li.current-menu-item a,
  nav[role="navigation"] ul li.current-page-ancestor,
  body.notebook nav[role="navigation"] ul li.menu-item-6512 a,
  body.home nav[role="navigation"] ul li.menu-item-6512 a,
  body.work nav[role="navigation"] ul li.menu-item-6167 a {
    font-weight: 700;      
  }
  nav[role="navigation"] ul li.current-menu-item a:hover,
  nav[role="navigation"] ul li.current-page-ancestor:hover,
  body.notebook nav[role="navigation"] ul li.menu-item-6512 a:hover,
  body.home nav[role="navigation"] ul li.menu-item-6512 a:hover,
  body.work nav[role="navigation"] ul li.menu-item-6167 a:hover {

  }

/* $[Header Animation] ^navigation, ^menu ==================================================================== */
/* @media {  
} screen and (min-width: 600px) */
@media screen and (min-width: 37.5em) { 
  nav[role="navigation"] {
  }
  nav[role="navigation"] ul {
      /*display: flex;
      align-items: center;
      border-top: none;
      background: none;
      height: $headerHeightDesktop;*/
  }
    nav[role="navigation"] ul li {
        display: block;
    }
      nav[role="navigation"] ul li a {
          display: block;
      }
      nav[role="navigation"] ul li a:hover {
          color: $white;
      }
    nav[role="navigation"] ul li a:after {
        content: "";
        background-color: $lightGray;
        position: absolute;
        bottom: 0;
        right: -1px;
        left: -1px;
        height: 1px;
        @include transition(all 0.125s ease-in-out);
        z-index: -1;
        opacity: 0;
    }
    nav[role="navigation"] ul li a:hover::after {
        opacity: 1;
        height: 100%;
        background-color: $orange;
    }
  .logo-img,
  .logo-title {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .logo-img {
    padding-right: 10px;
    height: $headerHeightDesktop;
    svg {
      height: 25px;
    }
  }
}