.archives,
.archives-master,
.archives-search,
.about-header {
  
}

// .archives,
// .archives-master,
// .archives-search,
// .about-header {
//   // background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='#000' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='#000' fill-opacity='0.2'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
//   &:before {
//     content: '';
//     position: absolute;
//     background: linear-gradient(to bottom,rgba($darkBlue,1) 0%, rgba($darkBlue,0) 100%);
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     z-index: 1;
//   }
// }

.fourohfour {
    font-size: 18em;
    font-weight:700;
    line-height: 1;
    color: $white;
}

#page_header {
    font-family: "Geomanist",Helvetica,sans-serif;
    font-size: .875em;
    font-weight: 100;
    letter-spacing: 0.0675em;
    margin-bottom: 2em;
    padding: 10.5em 0 6.5em;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: $darkBlue;

    &:after {
      content: '';
      background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='%23fff' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,100 100,0' /%3E%3C/svg%3E");   
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 5vw;
      width: 100%;
      position: absolute;
      bottom: -1px;
      left: 0;
      z-index: 97;
    }

  .wrapper {
    position: relative;
    z-index: 10;
  }

  .pagetitle {
      font-family: $sans-serif-font;
      font-weight: 700;
      font-size: calc(100% + 3.5vw);
      line-height: 1;
      color: $white;
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;

      span {
        font-size: 0.75rem;
        display: block;
        font-weight: 100;
        margin-bottom: 0;
      }

      &:after {
        width: 20%;
        margin-left: 40%;
        margin-right: 40%;
        border-top: 1px solid $orange;
        display: block;
        content: "";
        margin-top: 1.5rem;
      }
  }
  .sub-title {
    font-family: $sans-serif-font;
    font-size: 0.75em;
    letter-spacing: 0.06em;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .paged {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        line-height: 1.6;
        color: $headerTextColor;
  }
  p {
      max-width: 45em;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.6;
      color: $headerTextColor;
    
      a {
          border-bottom: 0;
          text-decoration: none;
          display: inline-block;
          position: relative;

          &:after {
              content: "";
              background-color: rgba($white, 0.125);
              position: absolute;
              bottom: 0;
              right: -1px;
              left: -1px;
              height: 1px;
              @include transition(all 0.125s ease-in-out);
              z-index: -1;
          }

          &:hover {
            text-decoration: none;
            background-color: none;
            color: $white;

            &:after {
              height: 100%;
              background-color: $orange;
            }

          }
      }
  }
}


/* @media {  
} screen and (min-width: 600px) */
@media screen and (min-width: 37.5em) { 
  #page_header {
      font-size: 1em;
  }
}

/* @media {  
} screen and (min-width: 960px) */
@media screen and (min-width: 60em) { 
  #page_header {
      font-size: 1em;
  }
}