/*------------------------------------
*
*   Typography
*
------------------------------------*/
/**/
html {

  font-size: calc(14px + 0.5vw);
  line-height: calc(1.1em + 0.5vw);
  @media (min-width: 1200px) {
        font-size: 20px;
  }
}
.normal,
h4 {
    font-size: 1em;
    //line-height: 1.5em;
}
.large,
h2 {
    font-size: 1.375em;
    //line-height: 1.3846153846153846em;
}
.huge,
h1 {
    font-size: 2.625em;
    //line-height: 1.1428571428571428em;
}
h2 {
    margin-bottom: 0.46153846153846156em
}
h3 {
    font-size: 1.25em;
    margin: 0 1.5em
}
.small,
small,
code,
#copyright p,
.post_reference {
    font-size: 0.8125em;
}
input,
textarea,
button,
select {
    font-family: $sans-serif-font;
}
pre,
code {
    font-family: $source-code-font;
}
p,
blockquote,
.post_reference {
    margin: 0 0 1.5em 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
/* Selection colours (easy to forget) */
::selection {
    background: rgba($orange,1.0);
    color: $white;
}
::-moz-selection {
    background: rgba($orange,1.0);
    color: $white;
}
img::selection {
    background: transparent
}
img::-moz-selection {
    background: transparent
}
body {
    -webkit-tap-highlight-color: rgba($orange,1.0);
}
html,
body {
    font-weight: 100;
    color: $textColor;
    
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $headingColor;
    font-weight: 700;
    font-family: $sans-serif-font;
    line-height:1;
    letter-spacing: .06em;

    &.multi-line {
      line-height: calc(1.2em + 0.5vw);
    }
}
strong {
    font-weight: 700
}
body {
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt","lnum";
    -ms-font-feature-settings: "kern", "liga", "clig", "alt","lnum";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt","lnum";
    font-feature-settings: "kern", "liga", "clig", "calt","lnum";
}
/* $[Universal Presets] ^not_reset_related ====================================================================*/ 
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
    margin-bottom: 1.5rem
}
/* $[General Elements] ^not_reset_related ==================================================================== */


/*CODE ------------------------------------------------------------------------ */
div.code {
  overflow: auto; 
  font-size: 1em; 
  margin-top: 1.5em !important; 
  margin-bottom: 1.5em !important; 
}
div.code code  {
  font-family: Menlo, Monaco, monospace; 
  margin:0; 
  font-size: 0.675em;
}
pre {
  margin:0;
}
@media screen and (max-width: 768px) { 
  .dt-break {
    display:none;
  }
}