/*Contact Content Styles---------------------------------------------------------------------------->*/
@include placeholder(lighten($darkBlue,60%));
.all_forms {
    font-family: $sans-serif-font;
    position: relative;
    font-size: 1em;
}
.all_forms dl {
    margin: 0;
    position: relative;
}
.all_forms dl.details dt {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: $darkGray;
}
  .all_forms dl.details dt label {
      display: block;
      padding: 0 6px;
      line-height: 2.5em;
      text-align: left;
  }
.all_forms dl.details dd {
    margin-bottom: .75rem
}
.all_forms textarea,
.all_forms input {
  background: #fff;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font-weight: 100;
}
.textarea {
    font-size: 1em;
    line-height: 2em;
    font-weight: normal;
    font-family: $sans-serif-font;
    padding: 6px;
    margin: 0 0 5px 0;
    background: transparent;
    width: 374px;
    color: #000;
    -webkit-appearance: none;
}
.formfield-c {
    line-height: 2.5em;
    height: 2.5em;
    font-weight: normal;
    padding: 6px;
    margin: 0 0 5px 0;
    background: transparent;
    width: 100%;
    color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}
.all_forms input:focus,
.all_forms textarea:focus {
    background: #fff;
            box-shadow: 0px 0px 0px 1px rgba($darkBlue,0.125);
       -moz-box-shadow: 0px 0px 0px 1px rgba($darkBlue,0.125);
    -webkit-box-shadow: 0px 0px 0px 1px rgba($darkBlue,0.125);
    -webkit-animation: shadowOut .225s 1 ease-in-out;
       -moz-animation: shadowOut .225s 1 ease-in-out;
            animation: shadowOut .225s 1 ease-in-out;
}
.all_forms textarea, 
.all_forms input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.all_forms dl.check dt {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: $darkGray;
}
  .all_forms dl.check dt label {
      display: block;
      padding: 0 6px;
      line-height: 2.5em;
      text-align: left;
  }
  .all_forms dl.check .formfield-c { 
      padding-left: 4em;
  }

/*
==========ERROR STUFF
*/
input.error, textarea.error {
    box-shadow: 0px 0px 0px 1px rgba($orange,1);
       -moz-box-shadow: 0px 0px 0px 1px rgba($orange,1);
    -webkit-box-shadow: 0px 0px 0px 1px rgba($orange,1);
}
label.error {
    position: absolute;
    text-shadow: none;
    right: 0;
    line-height: 2.5rem;
    text-align: right;
    font-style: normal;
    padding: 4px 1.5em;
    font-size: .75em;
    font-family: $sans-serif-font;
    color: $white;
    background: $orange;
}
  label.error:before {
    content: ' ';
    position: absolute;
    left: -8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
              transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-right: 8px solid $orange;
    border-bottom: 8px solid transparent;
}
.success {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left: 50%;
    text-align: center;
    -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
              transform: translateX(-50%);
    width: 100%;
    border: none;
    color: #fff;
    background: $hoverColor;
    font-size: 1em;
    font-weight: 100;
    line-height: 3em;
    padding: 0 2em 1px;
    text-transform: uppercase;
    font-family: $sans-serif-font;
}
.success p {
      margin: 0
}
.loading {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left: 50%;
    text-align: center;
    -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
              transform: translateX(-50%);
    width: 100%;
    border: none;
    color: #fff;
    background: $hoverColor;
    font-size: 1em;
    font-weight: 100;
    line-height: 3em;
    max-height: 3em;
    padding: 0;
    text-transform: uppercase;
    font-family: $sans-serif-font;
}
.loader{
  height: 100%;
  width: 20%;
  text-align: center;
  padding: 0;
  margin: .5em auto 0;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
.loader svg path,
.loader svg rect{
  fill: $orange;
}
.leftimg {
    float: left;
    margin: 0 20px 24px 0;
}
#AjaxifyLoading {
    margin: 50px auto;
    text-align: center;
    font-size: 11px;
}