// ----------------------------------------------------------------------------------------------------------------
// blog post types
// ----------------------------------------------------------------------------------------------------------------

/* $[Base Article Styles] ^article, ^menu ==================================================================== */
/*body.blog #content article:first-child {
  padding-top: 0;
}*/
article {
    max-width: 768px;
    margin: 0 auto;
    padding: 2em 5%;
}
  article header {
      text-align: center
  }
  article p.date {
      color: $metaGray;
      font-size: .825em;
      margin: 0 0 0.5em;
      font-family: $sans-serif-font;
      text-transform: uppercase;
      text-align: center;
  }
    article p.date a {
        color: $metaGray
    }
    article p.date a:hover {
        color: $orange
    }
  article h2 {
      margin-top: 0;
  }
    article h2 a {

    }
  .exp_header:after {
    width: 10%;
    margin-left: 0;
    margin-right: 90%;
    border-top: 1px solid $orange;
    display: block;
    content: "";
    margin-top: 0.5rem;
  }
  article footer {
      color: $metaGray;
      font-size: .6875em;
      font-family: $sans-serif-font;
      text-align: center;
      text-transform: uppercase;
  }
  article.entry section,
  article.link section,
  article.quote section,
  article footer,
  #comments,
  #contact_us {
    max-width: 640px;
    margin: 0 auto;
  }
  article section a, article footer a {
      border-bottom: 1px solid $darkBorder;
  }
  article section a:hover, article footer a:hover {
      text-decoration: none;
      border-bottom: 1px solid $orange;
  }
article hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1.5em 0;
    padding: 0;
    border: none;
    border-top: 1px solid $borderColor;
}

.pull-text,
.push-text,
.image {
    font-size: .675em;
    padding: .5em;
    line-height: 1.5;
    color: #a5b5b5;
    font-style: italic;
}
.pull-text,
.push-text {
    margin: 1.5em 0;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
}
.bullet {
    margin: 0 .5em;
    color: #ccc;
}
/* $[Entry Article Styles] ^article, ^entry, ^menu ==================================================================== */
article.entry h2 {
    margin-top: 0;
    line-height: 1em;
}
article.entry h2:after {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    border-top: 1px solid rgba(0,0,0,0.15);
    display: block;
    content: "";
    margin-top: 1.5rem;
}
  article.entry h2 a {
      color: $hoverColor
  }
  article.entry h2 a:hover {
      color: $orange;
      text-decoration: none;
  }
  article.entry .images-fullsize {
      background: darken($darkBlue, 15%);
  }
  article.entry blockquote, article.link blockquote {
    padding-left: 30px;
    position: relative;
    border-left: 3px solid $lightGray;
  }/*
  article.entry blockquote:before, article.link blockquote:before {
    content: '\201C';
    font-size: 40px;
    color:$metaGray;
    line-height: 40px;
    width: 20px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: $sans-serif-font;
  }*/
/* $[Link Article Styles] ^article, ^links, ^menu ==================================================================== */
article.link h2 {
    font-size: 1em;
    margin-top: 0;
    line-height: 1.5;
}
  article.link h2 a {
      color: $black;
      border-bottom: 1px solid #ddd;
      position: relative;
      /*margin-right: 1em;*/
  }
  article.link h2 a:hover {
      color: $orange;
      text-decoration: none;
      border-bottom: 1px solid $orange;
  }
/* $[Quote Article Styles] ^article, ^quotes, ^menu ==================================================================== */
article.quote blockquote p {
    font-size: 1.25em;
    font-family: $sans-serif-font;
    font-weight: 300;
    line-height: 1.4;
}
blockquote p.author {
    font-size: .825em;
    font-family: $sans-serif-font;
    text-transform: uppercase;
    color: #777;
}
article.quote blockquote p.author {
    font-size: .825em;
    font-family: $sans-serif-font;
    text-transform: uppercase;
    color: #777;
}
/* $[Link Images Styles] ^article, ^images, ^menu ==================================================================== */
article.images {
    max-width: 960px
}
  article.images h2 {
      font-size: 1.5em;
      letter-spacing: 2px;
      margin-top: 0;
      color: $white;
      font-weight: 100;
      text-transform: uppercase;
      display: inline-block;
  }
    article.images h2 a {
        color: $white
    }
    article.images h2 a:hover {
        color: $white
    }
  article.images .lightbox {
      position: relative;
      margin: 1em 0;
  }
  article.images.single .lightbox {
      position: relative;
      margin: 0 0 1em;
  }
  article.images .images-fullsize {
      background: darken($darkBlue, 15%);
  }
  article.images .lightbox img {
      margin: 0 auto
  }
  article.images header {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      color: $white;
      background: rgba(darken($darkBlue, 10%),0.85);
      -webkit-transition: opacity .25s ease-in;
      -moz-transition: opacity .25s ease-in;
      transition: opacity .25s ease-in;
      opacity: 0;
      .images-title {
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
        -webkit-transition: all .25s ease-in-out;
           -moz-transition: all .25s ease-in-out;
                transition: all .25s ease-in-out;
        h2 {
          margin: 0;
        }
      }
  }
  article.images header:hover {
      opacity: 1;
      .images-title {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
  }
  article.images header .permalink {
      text-indent: -9999px;
      opacity: 0;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
  }
article.images.single header {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    color: #505050;
    text-shadow: none;
    background: none;
    .images-title {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        h2 {
          margin-bottom: 1.5rem;
        }
      }
}
  article.images.single header .permalink {
      display: none
  }
article.images.single h2 {
    font-size: 2.75em;
    margin-top: 0;
    line-height: 1em;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 700;
    color: $black;
    padding: 0;
    border: none;
    display: block;
}
article.images .images-content,
article.images footer,
article.images.single header {
    margin: 0 auto;
    max-width: 640px;
}
article.images .images-title {
      position: absolute;
      top: 50%;
      width: 100%;
      -webkit-tansform: translateY(-50%);
              tansform: translateY(-50%);
  }
  article.images.single .images-title {
      position: relative;
      top: 0;
  }
.image-archive-surround {
    margin: 0 auto;
    background: #000;
}
#image-archive {
    max-width: 1500px;
    margin: 0 auto;
}
  #image-archive article.images.archive {
      padding: 0 5%;
      text-align: center;
  }
    #image-archive article.images.archive header {
        opacity: 1;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 2em;
        text-align: center;
        color: $white;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
        background: rgba(0,0,0,0.85);
        -webkit-transition: opacity 0.25s linear;
        -moz-transition: opacity 0.25s linear;
        transition: opacity 0.25s linear;
    }
    #image-archive article.images.archive header:hover {
        opacity: 0
    }
.image-archives {
    background: #000
}
  .image-archives h1 {
      color: $white
  }

/* @media { 
} screen and (min-width: 768px) */
@media screen and (min-width: 48em) { 
  article {
      padding: 3em 0
  }
}

/* @media { 
} screen and (min-width: 960px) */
@media screen and (min-width: 60em) {
  div.code {
      max-width: 960px;
      margin-left: -10%;
      margin-right: -10%;
  }
  .embed-container {
      max-width: 760px;
      margin-left: -40px;
      margin-right: -40px;
  }
  article.entry .images-fullsize {
      max-width: 960px;
      background: #000;
      margin-left: -140px;
      margin-right: -140px;
  }
  .wrapper {
      max-width: 960px;
      margin: 0 auto;
      padding: 0;
  }
  #archive .wrapper{
      max-width: 640px;
  }

  header[role="banner"] .wrapper {
      padding-left: 5%;
      padding-right: 5%;
      line-height: 2em;
      text-align: center;
      max-width: 2200px;
  } 

  #image-archive article.images.archive {
      float: left;
      width: 50%;
      padding: 0;
      margin: 0;
  }
  article.quote blockquote {
      padding-left: 0;
      position: relative;
  }
  article.quote blockquote:before {
      content: '\201C';
      font-size: 60px;
      text-align: center;
      color: #ededed;
      line-height: 60px;
      width: 30px;
      display: block;
      position: absolute;
      top: 0;
      left: -50px;
  }
  .pull-text,
  .push-text {
    border-top: none;
    border-bottom: none;
  }
  .pull-text:before {
    width: 25%;
    margin-left: 75%;
    border-top: 1px solid rgba(0,0,0,0.15);
    display: block;
    content: "";
    margin-bottom: 10px;
  }
  .push-text:before {
    width: 25%;
    margin-right: 75%;
    border-top: 1px solid rgba(0,0,0,0.15);
    display: block;
    content: "";
    margin-bottom: 10px;
  }
  .push-text.wide:before,
  .pull-text.wide:before {
    border-top: none;
  }
  .pull-text {
      float: left;
      margin-left: -25%;
      width: 19%;
      margin-right: 0;
      margin-bottom: 0;
      margin-top: 0;
      padding-right: 0;
      border-right: none;
      text-align: right;
  }
  .push-text {
      float: right;
      margin-right: -25%;
      width: 19%;
      margin-left: 0;
      margin-bottom: 0;
      margin-top: 0;
      padding-right: 0;
      border-right: none;
      text-align: left;
  }
  .pull-text.wide {
      float: left;
      margin-left: -25%;
      width: 30%;
      margin-right: 1em;
      margin-bottom: 1em;
      margin-top: 0;
      padding-right: 1em;
      border-right: 1px solid #ededed;
      text-align: left;
  }
  .push-text.wide {
      float: right;
      margin-right: -25%;
      width: 30%;
      margin-left: 1em;
      margin-bottom: 1em;
      margin-top: 0;
      padding-left: 1em;
      border-left: 1px solid #ededed;
      text-align: left;
  }
}

/* @media {media_subcode : 1
} screen and (min-width: 1200px) */
@media screen and (min-width: 75em) { 
  #image-archive article.images.archive {
      float: left;
      width: 33%;
      padding: 0;
      margin: 0;
  }
  article p.date {
      font-size: .75em;
  }
  article footer {
      font-size: .6875em;
  }
}